.btn-label {
    font-weight: 800;  /* Make text bolder */
    color: white;      /* Set text color to white */
    font-size: 0.6rem;
  }
  
  .caption-xs-bold {
    font-weight: 700;
    color: white;
  }
  
  .caption-xs,
  .caption-xs-bold {
    font-weight: 800; /* Increase the font-weight for more boldness */
    font-size: 0.625rem;
    text-transform: uppercase;
    line-height: 0.875rem;
    letter-spacing: 0.24em;
  }
  
  .outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  
  .px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .overflow-x-hidden {
    overflow-x: hidden;
  }
  
  .items-center {
    align-items: center;
  }
  
  .cursor-pointer {
    cursor: pointer;
  }
  
  .inline-flex {
    display: inline-flex;
  }
  
  .inline-block {
    display: inline-block;
  }
  
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .btn-primary {
    border-radius: 2rem;
    background-color: rgba(33, 150, 243, var(--tw-bg-opacity, 1));
    color: rgba(255, 255, 255, var(--tw-text-opacity, 1));
    transition-property: color, background-color, border-color,
      text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.3s;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }